 
	header
	
		{
			text-align: center;
		}
		
	nav
	 	{
		 	text-align: center;
		 	text-shadow: 5px 5px 5px #2a72d7;
	 	}
		
	body 
		{
			background-image:url("../img/background.png");
			background-repeat:no-repeat;
			background-attachment:fixed;
			background-size: cover;
		}
		
	a 
		{
			text-justify:center;
			font-family: fantasy;
		}	
		
	div
		{
			box-shadow: inset 5px 5px 5px 5px #2a72d7;
			border:2px 2px inset #300ae9;
			border-radius:25px;
		}
	h1
		{
			text-shadow: 5px 5px 5px #2a72d7;
			text-align: center;
			font-family: fantasy;
			font-style: normal;
			font-size: large;
			font-weight: 700;
		}
	
	h2
		{
			text-shadow: 5px 5px 5px #2a72d7;
			text-align: center;
			font-family: fantasy;
			font-size: medium;
			font-style: italic;
			font-weight: bold;
		}
		
	form
		{
			border: 2px inset blue;
			text-align: center;
			font-family: fantasy;
		}
		
	legend
		{
			border: 1px inset #2b0df2;
			border-radius: 15px
		}
		
	quote
		{
			word-wrap: normal;
			width: auto;	
			height: auto;
			text-align: center;
			
			
		}
	
	ul
		{
			list-style-type: circle;
			margin:5px;
			padding:5px;
		} 
		
	footer
		{
			text-align: center;
			font-size: x-small;
			font-family: fantasy;
		}
	